<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.nataliana.detectivehardestcase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.nataliana.detectivehardestcase.view.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.nataliana.detectivehardestcase.view.ChooseplayerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="pl.nataliana.detectivehardestcase.view.StoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.nataliana.detectivehardestcase.view.CaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.nataliana.detectivehardestcase.view.ProofsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.nataliana.detectivehardestcase.view.JonesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.nataliana.detectivehardestcase.view.ProofsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.nataliana.detectivehardestcase.view.ScenesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.nataliana.detectivehardestcase.view.MurderSceneActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>